@import url(../../css/flyConfig.css);
@import url(../../css/reset.css);

.pannel {
  position: absolute;
  width: fit-content;
  padding: 10px;
  bottom: 0;
  border-top: solid 1px #fff;
  background-color: #fff;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.remaining-lifes {
  float: left;
}

.cronometer {
  float: left;
  font-size: 20px;
  font-weight: bolder;
  width: fit-content;
}