@import url(../../css/reset.css);

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-over-img {
  width: 90%;
  max-width: 500px;
}

.restart-button {
  background-color: #0c4433bb;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 12px 24px;
  font-size: 2rem;
  border-radius: 0.5rem;
  color: #fff;
  transition: all 400ms ease-in-out;
}

.restart-button:hover {
  background-color: #54e9bcff;
  transform: scale(1.2);
}