@import url(../../css/reset.css);

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-result-img {
  width: 90%;
  max-width: 500px;
}

.restart-button {
  background-color: #0c4433bb;
  border: none;
  box-shadow: 0 0 15px #2227;
  padding: 12px 24px;
  font-size: 2rem;
  border-radius: 0.5rem;
  color: #fff;
  transition: all 400ms ease-in-out;
}

.restart-button:hover {
  background-color: #54e9bcff;
  transform: scale(1.2);
}